body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-240px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:58px;
  width:414px;
  height:736px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:65px;
  width:20px;
  height:14px;
  display:flex;
  color:#FFFFFF;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:67px;
  width:19px;
  height:11px;
  display:flex;
  color:#FFFFFF;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u126_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:62px;
  width:64px;
  height:25px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_img.disabled {
}
#u126.disabled {
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:62px;
  width:53px;
  height:25px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_img.disabled {
}
#u127.disabled {
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u128_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:60px;
  width:34px;
  height:25px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_img.disabled {
}
#u128.disabled {
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:99px;
  width:39px;
  height:39px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
